<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
<title>Reservation Form</title>
<link rel="stylesheet" type="text/css" href="css/guestForm.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="shortcut icon" href="css/pasta.png" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="container">
		<div class="content">
			<div class="inner_content">
			<form class="bookTable" action="/guestForm" method="POST">
				<h2 class="form_head">Reservation Form</h2>
				<p class="form_slg">We offer you the best reservation services</p>
				<div class="left">
					<div class="form_group">
						<label>Name</label>
						<input type="text" placeholder="Full Name" required>
				</div>
				<div class="form_group">
						<label>Phone Number</label>
						<input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" placeholder="Ex: 123-456-7890" required>
					</div>
					<div class="form_group">
						<label>Email</label>
						<input type="email" name="email" placeholder="Email Address" required>
					</div>
					<div class="form_group">
						<label>Date</label>
						<input type="date" name="date_res" min= "<%= min_date %>" placeholder="Select date for booking" required=true>
					</div>
					<div class="form_group">
						<label>Time</label>
						<input type="time" name="time" min="<%= min_time %>" placeholder="Select time for booking" required>
					</div>
					<div class="form_group">
						<label>Number of Guests</label>
						<input type="number" placeholder="How many guests? " min="1" max = "8" name="guest" id="guest" required>
					</div>
					<div class="form_group">
						<label>Table #</label>
						<input type="number" placeholder="Preferred table? " min="1" max = "20" name="tablenum" id="tablenum" required>
					</div>	
				</div>
				
				<div class="left">
					<div class="form_group">
						<center><img src = "css/pasta.png" width="350" height="350"></center>
					</div>
					<div class="form_group">
						<input type="submit" class="submit" name="submit" value="BOOK A TABLE" />
					</div>
				</div>
				<p class="clear"></p>
			</form>
			</div>
		</div>
	</div>
</body>
</html>