<html>
<head>
    <title>Pasta Consigliere - Chicken and Pasta</title>
    <link rel="shortcut icon" href="css/pasta.png" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body>
    <div class = "container">
        <div class = "card">
            <div class = "inner-box">
                <div class = "card-front">
                    <h4>Welcome to</h4>
                    <h2>Pasta Consigliere</h2>
                    <div class = "social-icons">
                        <a href = "https://www.facebook.com/pastaconsigliere"><img src = "css/fb.png"></a>
                        <a href = "https://twitter.com/pconsigliere"><img src = "css/tw.png"></a>
                        <a href = "mailto:pastaconsigliere@gmail.com"><img src = "css/gp.png"></a>
                    </div>
                    <form id = "login" class = "input-group" action = "/login" method = "POST">
                        <label for = "username">Username</label>
                        <input type = "text" id="username" name="username" class = "input-field"
                        placeholder="Enter username" required>
                        <label for = "password">Password</label>
                        <input type = "password" id="password" name="password" class = "input-field"
                        placeholder="Enter password" required>
                        <button type = "submit" class="submit-btn">Login</button>
                    </form>
                    <br>
                    <button onClick = "location.href='/register'" type = "button" class="btn">Create an Account</button>
                    <button onClick = "location.href='/guestForm'" type = "button" class = "btn">Continue as Guest</button>
                    <center><br><br><% if (messages.error) { %>
                        <%= messages.error %>
                    <% } %></center>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
