<html>
<head>
    <title>Registration Form</title>
    <link rel="shortcut icon" href="css/pasta.png" />
    <link rel="stylesheet" type="text/css" href="css/register.css" />
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body>
    <div class = "container">
        <div class = "card">
            <div class = "inner-box">
                <div class = "card-front">
                    <h2>REGISTER</h2>
                    <div class = "social-icons">
                        <a href = "https://www.facebook.com/pastaconsigliere"><img src = "css/fb.png"></a>
                        <a href = "https://twitter.com/pconsigliere"><img src = "css/tw.png"></a>
                        <a href = "mailto:pastaconsigliere@gmail.com"><img src = "css/gp.png"></a>
                    </div>
                    <form id = "register" class = "input-group" action = "/register" method = "POST">
                        <label for = "inputUsername">Username</label>
                        <input type = "text" id = "inputUsername" name = "inputUsername" class = "input-field" 
                        placeholder="Enter username" required>
                        <label for = "inputPassword">Password</label>
                        <input type = "password" id = "inputPassword" name = "inputPassword" class = "input-field" 
                        placeholder="Enter password" required>
                        <button type = "submit" class="submit-btn">Submit</button>
                    </form>
                    <br><br>
                    <button onClick = "location.href='/login'" type = "button" class = "btn">Back to Login</button>
                    <button onClick = "location.href='/guestForm'" type = "button" class = "btn">Continue as Guest</button>
            </div>
            </div>
        </div>
    </div>
</body>
</html>
