<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<head>
<title>Select User Table</title>
<link rel="stylesheet" type="text/css" href="css/selectUserTables.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" href="css/pasta.png" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="topnav">
		<a href="/">Home</a>
		<a href = "/profile"> Profile </a>
		<a class="active" href="/userForm"> Reserve </a>
		<a href="/confirmation">Last Reservation</a>
		<ul class="nav navbar-nav navbar-right">
		<li><a href="/logout"><span style="color: black;" class="glyphicon glyphicon-log-out"></span> Logout</a></li>
	</ul>
	</div>
	<div id="container">
		<div class="content">
			<div class="inner_content">
			<form class="bookTable" action="/selectUserTables" method="POST">
				<h2 class="form_head">Reservation Form</h2>
				<p class="form_slg">We offer you the best reservation services</p>
				<div class="left">
					<div class="form_group"> 	
						<label>Table #</label><br>
						<select name="tables" id = "tables" required>
							<option selected disabled>Select a table</option>
							<% for(let i = 0; i < availableTables.length; i++){ %>
								<option value='<%= availableTables[i] %>'>Table <%= availableTables[i] %></option>
							<% } %>
						  </select>
					</div>	
				</div>
				<div class="left">
					<div class="form_group">
						<input type="submit" class="submit" name="submit" value="RESERVE TABLE" />
					</div>
				</div>
				<p class="clear"></p>
					<div class="image">
				</div>
			</div>
			</form>
			</div>
		</div>
	</div>

	<footer class="footer">
		<img class="img-rounded" width="50" height="50" src="css/pasta.png">
		<center>All Rights Reserved (2021)</center>
	</footer>
	  
</body>
<script>
</script>
</html>
