<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<head>
<title>Reservation Form</title>
<link rel="stylesheet" type="text/css" href="css/userForm.css"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" href="css/pasta.png" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div id="container">
		<div class="topnav">
			<a href="/">Home</a>
			<a href="/profile"> Profile </a>
			<a class="active" href="/userForm"> Reserve </a>
			<a href="/confirmation">Last Reservation</a>
			<ul class="nav navbar-nav navbar-right">
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
		</ul>
		</div>
		
		<div class="content">
			<div class="inner_content">
			<form class="bookTable" method="POST" action="/userForm">
				<h2 class="form_head">Reservation Form</h2>
				<p class="form_slg">We offer you the best reservation services</p>
				<div class="left">
					<div class="form_group">
						<label>Name</label>
						<input type="text" name="name" placeholder="Full Name" required>
				</div>
				<div class="form_group">
						<label>Phone Number</label>
						<input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" placeholder="Ex: 123-456-7890" required>
					</div>
					<div class="form_group">
						<label>Email</label>
						<input type="email" name="email" placeholder="Email Address" required>
					</div>
					<div class="form_group">
						<label>Date</label>
						<input id="date_id" type="date" name="date_res" min= "<%= min_date %>" onchange="resetDropdown()" placeholder="Select date for booking" required=true>
					</div>
					<div class="form_group">
						<label>Time (Operating Hours: 10am - 10pm)</label>
						<br>
						<select name="set_hr" id="set_hr" onchange="updateMinMin()" required>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
						</select>
						<select name="set_min" id="set_min" required>
							<option value="00">00</option>
							<option value="30">30</option>
						</select>
						<!-- <input id="set_time" type="time" name="time" min="10:00" max="21:00" step="1800" placeholder="Select time for booking" required> -->
					</div>
					<div class="form_group">
						<label>Number of Guests</label>
						<input type="number" placeholder="How many guests? " min="1" max = "8" name="guest" id="guest" required>
					</div>
				</div>
				
				<div class="left">
					<div class="form_group">
						<center><img src = "css/pasta.png" width="350" height="350"></center>
					</div>
					<div class="form_group">
						<input type="submit" class="submit" name="submit" value="CONTINUE" />
					</div>
					<br><br>
					<center><div id="timeslot_error"><%= reservationMessage %></div></center>
				</div>
				<p class="clear"></p>
			</form>
			</div>
		</div>
	</div>

	<footer class="footer">
		<img class="img-rounded" width="50" height="50" src="css/pasta.png">
		<center>All Rights Reserved (2021)</center>
	</footer>
	
</body>
<!-- 
	// Minimum Reservation Time
	// By default: 10:00 AM
	// On same day: Current time + 1 hour
	// Maximum Reservation time
	// By default: 1 hour before closing. Closing at 10:00 PM so MAX = "21:00"
-->
<script>
	function resetDropdown(){
		var x = document.getElementById("set_hr");
		var l = x.options.length - 1;
		var newOption = new Option(99, 99)
		for(let i = l; i >= 0; i--) {
			x.remove(i);
		}
		for (let i = 10; i <= 21; i++){
			newOption = new Option(i, i)
			//console.log(newOption)
			x.add(newOption, undefined)
		}
		var y = document.getElementById("set_min");
		l = y.options.length - 1;
		for(let i = l; i >= 0; i--) {
			y.remove(i);
		}
		// newOption = new Option("00", "00")
		// y.add(newOption, undefined)
		newOption = new Option("00", "00")
		y.add(newOption, undefined)
		newOption = new Option(30, 30)
		y.add(newOption, undefined)
		updateMinHour()
	}
	function updateMinHour(){
		var x = document.getElementById("set_hr");
		var y = document.getElementById("set_min");
		var selectHourValue = document.getElementById("set_hr").value
		let removeUpTo = 0
		let cDate = new Date();
		let min_date = document.getElementById("date_id").min
		let currDate = document.getElementById("date_id").value
		let currentHour = cDate.getHours()
		let currentMinute = cDate.getMinutes()
		//console.log("currentHour (from date): " + currentHour)
		// console.log("selectHourValue: " + selectHourValue)
		// change currentHour & currentMinute below for testing
		// currentHour = 18
		// currentMinute = 28
		if(currDate == min_date && currentMinute <= 30){
			removeUpTo = currentHour - 10
			for (let i = 0; i < removeUpTo ; i++) {
				x.remove(0)
			}
		} else if (currDate == min_date && currentMinute >= 30) {
			removeUpTo = currentHour - 9
			for (let i = 0; i < removeUpTo ; i++) {
				x.remove(0)
			}
		}
		// selectHourValue = 18
		if (currentHour == selectHourValue && currentMinute <= 30) {
			y.remove(0)
		}
	}
	function updateMinMin(){
		var y = document.getElementById("set_min");
		var l = y.options.length - 1;
		var selectHourValue = document.getElementById("set_hr").value
		let cDate = new Date();
		let currentHour = cDate.getHours()
		let currentMinute = cDate.getMinutes()
		var newOption = new Option(99, 99)
		// currentHour = 18
		// selectHour = 18
		for(let i = l; i >= 0; i--) {
			y.remove(i);
		}
		// newOption = new Option("00", "00")
		// y.add(newOption, undefined)
		if (currentHour != selectHourValue){
			newOption = new Option("00", "00")
			y.add(newOption, undefined)
			newOption = new Option(30, 30)
			y.add(newOption, undefined)
		} else {
			l = y.options.length - 1;
			for(let i = l; i >= 0; i--) {
				y.remove(i);
			}
			newOption = new Option(30, 30)
			y.add(newOption, undefined)
		}
	}
</script>
</html>
