<html>
  <head>
    <link rel="shortcut icon" href="css/pasta.png" />
    <title>View Tables</title>
    <style>
      .image {
        background-image: url("css/tables.jpg");
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        height: 1127px;
      }
    </style>
  </head>
  <body>
    <div class="image"></div>
  </body>
</html>
