* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
  }
  
.clear {
	clear: both;
	line-height: 0;
  }

#container {
	height: 100%;
	width: 100%;
	background-image: url("bg2.jpg");
	background-position: center;
	background-size: cover;
	position: fixed;
	overflow-y: auto;
}

div.inner_content {
	max-width: 1200px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
  }
  
h2.form_head {
	font-family: Brush Script MT, Brush Script Std, cursive;
	text-align: center;
	color: #f3f3f3;
	font-size: 60px;
  }
  
p.form_slg {
	text-align: center;
	color: red;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
  }
  
div.left {
	float: left;
	width: 50%;
	height: auto;
	padding: 20px;
  }
  
label {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	color: #ffffff;
	font-size: 20px;
  }
  
input[type="text"],
[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"] {
	width: 100%;
	border: 1px solid #cccccc;
	padding: 7px;
	height: 40px;
	background: #efefef;
	border-radius: 4px;
  }
  
input[type="submit"].submit {
	width: 100%;
	background: red;
	color: #fff;
	padding: 7px;
	height: 40px;
	border: 1px solid #ff5722;
	font-size: 19px;
	margin-top: 27px;
	border-radius: 4px;
  }

  @media only screen and (max-width: 1920px) {
	/* For desktop: */
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}
  }

  select {
	width: 248px;
	height: 35px;
	margin: 10px;
}

#timeslot_error {
	font-size: 30px;
	color:rgba(192, 0, 0, 0.69)
}

.glyphicon.glyphicon-modal-window {
    font-size: 25px;
	/* color:rgb(255, 255, 255); */
}
