* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clear {
  clear: both;
  line-height: 0;
}

.btn {
  padding: 10px 30px;
  font-weight: bold;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

#container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.185), rgba(0, 0, 0, 0.164)),
    url("bg3.jpg");
  background-position: center;
  background-size: cover;
  position: fixed;
  margin-bottom: 50px;
  padding-bottom: 100px;
}

div.inner_content {
  max-width: 1080px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
}

h1,h2,h4 {
  color: #f3f3f3;
}

h2.form_head {
  font-family: Brush Script MT, Brush Script Std, cursive;
  text-align: center;
  color: #f3f3f3;
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 30px;
}

p.form_slg {
  text-align: center;
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

div.left {
  float: left;
  width: 50%;
  height: auto;
  padding: 20px;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 20px;
}

input[type="text"],
[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"] {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 7px;
  height: 40px;
  background: #efefef;
  border-radius: 4px;
  font-size: large;
}

input[type="submit"].submit {
  width: 100%;
  background: red;
  color: #fff;
  padding: 7px;
  height: 40px;
  border: 1px solid #ff5722;
  font-size: 19px;
  margin-top: 27px;
  border-radius: 4px;
}

body {
  display: flex;
  flex-flow: column;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 133, 52, 0.69);
  text-align: center;
  color: black;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: 0px;
}

.topnav {
  background-color: rgba(255, 133, 52, 0.69);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(255, 220, 155, 0.514);
  color: black;
  text-decoration: none;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #c040008a;
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 1080px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
